* {
    border: 0px;
    padding: 0px;

}

body {
    background-color: #e9edc9;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #e9edc9; */
    height: 60vh;
    /* width: 80vh; */
    /* background-color: black; */
}

.box-container{
    width: 60vmin;
    /* border: 2px solid black; */
    height: 60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
    flex-wrap: wrap;
    margin-top: 2vh;
}

.box{
    width: 18vmin;
    height: 18vmin;
    background-color: #d29b79;
    border-radius: 1rem;
    font-size:9vmin;
    color:#e85d04;
    box-shadow: 0 0 6vmin rgba(0,0,0,.6);
    border: none;
}
.new-button{
     margin-top: 5vh;
    border: none;
    height: 9vh;
    width: 9vh;
    border-radius: 1rem;
    background-color: #fcbf49;
    color: #003049;
    font-size:1rem ;

}
.reset{
    margin-top: 5vh;
    border: none;
    height: 9vh;
    width: 9vh;
    border-radius: 1rem;
    background-color: #fcbf49;
    color: #003049;
    font-size:1rem ;
    
}
.announce{
    margin-top: 40vh;
    border: none;
    /* height: 9vh; */
    width: 25vh;
    border-radius: 1rem;
    /* background-color: #fcbf49; */
    color: #ffaa00;
    font-size:2rem ;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-bottom:40vh ;
    display: inline-block;


}
.hide{
     /* width: 25vh; */
    display:none; 
}
